# The Pocket - Environment Variables

# Database
# Example local postgres: postgres://postgres:password@localhost:5432/the_pocket
DATABASE_URL=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
PUBLIC_STRIPE_KEY=

# Resend
RESEND_API_KEY=
